body{
	font-family: arial,sans-serif;
   text-align:center;
   background-image: url("m.jpg");
   background-repeat: repeat;
   background-position: right top;
   background-color:greenyellow;
}
